/* Gruvbox Dark Theme */
@define-color	red  #fb4934;
@define-color	red-rgb  rgb(251, 73, 52);
@define-color red2 #CC241D;
@define-color	orange  #fe8019;
@define-color	orange-rgb  rgb(254, 128, 25);
@define-color	yellow  #fabd2f;
@define-color	yellow-rgb  rgb(250, 189, 47);
@define-color	green  #b8bb26;
@define-color	green-rgb  rgb(184, 187, 38);
@define-color	aqua  #8ec07c;
@define-color	aqua-rgb  rgb(142, 192, 124);
@define-color	blue  #83a598;
@define-color blue2  #458588;
@define-color	blue-rgb  rgb(131, 165, 152);
@define-color	purple  #d3869b;
@define-color	purple-rgb  rgb(211, 134, 155);
@define-color	fg  #ebdbb2;
@define-color	fg-rgb  rgb(235, 219, 178);
@define-color	fg1  #d5c4a1;
@define-color	fg1-rgb  rgb(213, 196, 161);
@define-color	fg2  #bdae93;
@define-color	fg2-rgb  rgb(189, 174, 147);
@define-color	fg3  #a89984;
@define-color	fg3-rgb  rgb(168, 153, 132);
@define-color	bg  #282828;
@define-color	bg-rgb  rgb(40, 40, 40);
@define-color	bg0  #1d2021;
@define-color	bg0-rgb  rgb(29, 32, 33);
@define-color	bg1  #3c3836;
@define-color	bg1-rgb  rgb(60, 56, 54);
@define-color	bg2  #504945;
@define-color	bg2-rgb  rgb(80, 73, 69);
@define-color	bg3  #665c54;
@define-color	bg3-rgb  rgb(102, 92, 84);
@define-color	bg4  #7c6f64;
@define-color	bg4-rgb  rgb(124, 111, 100);

* {
  font-family: 'Inconsolata Nerd Font', monospace;
  font-size: 19px;
}

/* Window */
window {
  margin: 0px;
  padding: 10px;
  border: 0.16em solid @bg3;
  border-radius: 0.1em;
  background-color: @bg;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg;
}

/* Scroll */
#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @bg;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0.1em;
  color: @fg;
  background-color: @bg;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @red;
}

#input * {
  outline: 4px solid @red!important;
}

#input:focus {
  /* background-color: @red; */
  /* outline: 0; */
  /* outline-offset: 40px; */
  /* box-shadow: none; */
  box-shadow: 0 0 0 0 @blue2;
  /* border: 1px solid r; */
  border-radius: 0;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  color: @fg;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @bg;
  box-shadow: none;
  outline: none;
}

#entry:focus {
  /* box-shadow: none; */
  outline: none;
}

#entry arrow {
  border: none;
  color: @bg3;
}

/* Selected Entry */
#entry:selected {
  border: 0.11em solid @red2;
}

#entry:selected #text {
  color: @orange;
}

#entry:drop(active) {
  background-color: @orange!important;
}

/* #input:focus { */
/*   outline: none; */
/*   border: none; */
/* } */
