@import "gruvbox-material.css";

* {
    font-family: "fira sans semibold", fontawesome, roboto, helvetica, arial, sans-serif;
    font-size: 20px;
    transition: background-color .3s ease-out;
    /* color: @fg0; */
}

window#waybar {
    background: transparent;
    color: @fg0;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    /* margin: 5px 5px; */
    padding: 4px 6px;
    border-radius: 8px;
    border: 2px solid @border;
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    /* font-size: 13pt; */
    color: @fg0;
    border: none;
    /* border-radius: 15px; */
    padding: 0 5px;
}

#workspaces button.active {
    background: @blue;
    color: @bg0;
}

/* #workspaces button.focused { */
/*     background: rgba(196, 167, 231, 0.3); */
/*     color: #e0def4; */
/* } */

#workspaces button.urgent {
    background: @red;
    /* color: #191724; */
}

#workspaces button:hover {
    /* background: rgba(196, 167, 231, 0.2); */
    /* border: 1px solid rgba(196, 167, 231, 0.6); */
    /* color: @red; */
    background: @blue;
    color: @bg0;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#custom-arch {
  margin: 0 6px;
  color: @blue;
  font-size: 26px;
}

#clock {
    /* padding: 0 10px; */
    /* border-radius: 15px; */
    /* background: @grey2; */
    /* color: #f6c177; */
    font-weight: 700;
}

#clock:hover {
  color: @orange;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature {
  margin: 0 6px;
}


#pulseaudio {
  color: @yellow;
}

#network {
  color: @blue;
}

#cpu {
  color: @green;
}

#memory {
  color: @purple;
}

#temperature {
  color: @orange;
}

/* #tray { */
/*   color: @fg0; */
/* } */

#custom-power {
  font-size: 30px;
  margin: 0 6px;
  /* text-align: center; */
}
