@import "colors.css";

* {
    font-family: "Inconsolata Nerd Font", fontawesome, roboto, helvetica, arial, sans-serif;
    font-size: 16px;
    transition: background-color .3s ease-out;
    /* color: @fg0; */
}

window#waybar {
    background: transparent;
    /* color: @bg0; */
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    /* margin: 5px 5px; */
    padding: 2px 6px;
    border-radius: 8px;
    border: 1.5px solid @fg-bright;
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    /* font-size: 13pt; */
    color: @fg-muted;
    border: none;
    /* border-radius: 15px; */
    padding: 0 10px;
}

#workspaces button.active {
    background: @blue-bright;
    color: @fg-bright;
}

#workspaces button.urgent {
    background: @red-bright;
    color: @fg-bright;
}

#workspaces button:hover {
    background: @blue-bright;
    color: @fg-bright;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#custom-arch {
  margin: 0 6px;
  color: @blue-bright;
  font-size: 26px;
}

#clock {
    padding: 0 10px;
    color: @fg-muted;
    font-weight: 700;
}

#clock:hover {
  color: @fg-bright;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature, 
#backlight,
#battery,
#tray {
  margin: 0 6px;
}


#pulseaudio {
  color: @yellow-muted;
}

#pulseaudio:hover {
  color: @yellow-bright;
}

#network {
  color: @blue-muted;
}

#network:hover {
  color: @blue-bright;
}

#cpu {
  color: @green-muted;
}

#cpu:hover {
  color: @green-bright;
}

#memory {
  color: @purple-muted;
}

#memory:hover {
  color: @purple-bright;
}

#temperature {
  color: @orange-muted;
}

#temperature:hover {
  color: @orange-bright;
}

#backlight {
  color: @fg-muted;
}

#backlight:hover {
  color: @fg-bright;
}

#battery {
  color: @aqua-muted;
}

#battery:hover {
  color: @aqua-bright;
}

/* #tray { */
/*   color: @fg0; */
/* } */

#custom-power {
  font-size: 26px;
  margin: 0 6px;
  /* text-align: center; */
}
