/* Light theme colors (Material variant) */
@define-color fg-bright      #fbf1c7;
@define-color orange-bright  #fe8019;
@define-color aqua-bright    #689D6A;
@define-color purple-bright  #B16286;
@define-color blue-bright    #458588;
@define-color yellow-bright  #fabd2f;
@define-color green-bright   #98971A;
@define-color red-bright     #CC241D;

/* Dark theme colors (Material variant) */
@define-color fg-muted       #ddc7a1;
@define-color orange-muted   #e68a4e;
@define-color aqua-muted     #89b482;
@define-color purple-muted   #d3869b;
@define-color blue-muted     #7daea3;
@define-color yellow-muted   #d7a657;
@define-color green-muted    #a8b665;
@define-color red-muted      #e96962;

/* Background colors */
@define-color bg1            #3c3836;
@define-color bg0            #282828;

* {
  font-family: 'Paper Mono', monospace;
  font-size: 16px;
}

/* Window */
window {
  margin: 5px;
  padding: 10px;
  border: 2px solid @fg-bright;
  animation: slideIn 0.5s ease-in-out both;
}

/* Slide In */
@keyframes slideIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Inner Box */
#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg1;
  animation: fadeIn 0.5s ease-in-out both;
}

/* Fade In */
@keyframes fadeIn {
  0% {
     opacity: 0;
  }

  100% {
     opacity: 1;
  }
}

/* Outer Box */
#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg1;
}

/* Scroll */
#scroll {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @bg1;
}

/* Input */
#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid @fg-muted;
  box-shadow: 0 0 0 0 @blue-muted;
  outline: none;
  color: @fg-bright;
  font-weight: 900;
  background-color: @bg1;
  animation: fadeIn 0.5s ease-in-out both;
}

#input image {
    border: none;
    color: @red-bright;
}

#input:focus {
  box-shadow: 0 0 0 0 @blue-muted;
  border-radius: 0;
}

/* Text */
#text {
  margin: 5px;
  border: none;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry {
  background-color: @bg1;
  box-shadow: none;
  outline: none;
  padding: 10px 8px;
  border: 2px solid transparent;
  color: @fg-muted;
}

#entry:focus {
  box-shadow: none;
  padding: 10px 8px;
  border: 2px solid @red-muted;
  outline: none;
  font-weight: 900;
}

/* Selected Entry */
#entry:selected {
  box-shadow: none;
  font-weight: 900;
  border: 2px solid @red-muted;
}

#entry:selected #text {
  color: @red-bright;
}

#entry:focus #text {
  color: @red-bright;
}

